<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDapvUKJ1GkyMqhMYqaO39ikNJaDXBiGPE</string>
	<key>GCM_SENDER_ID</key>
	<string>595138173563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applicationName.companyName.dev</string>
	<key>PROJECT_ID</key>
	<string>applicationName-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>applicationName-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595138173563:ios:6ac72257295899d7d9a0de</string>
</dict>
</plist>